##display the keys of a dictionary

In [ ]:
a = { 'a': 1 , 'b' : 2}

In [ ]:
a.keys(), a.values()

(dict_keys(['a', 'b']), dict_values([1, 2]))




##Implement List comprehension

In [ ]:
b = [ 1,2,3,45,6,7,8,96,66,33,45]

In [ ]:
b = [x for x in b if x%2 == 0]
print(b)

[2, 6, 8, 96, 66]



##From a list of numbers, find the squares of the numbers using the map function

In [ ]:
def sq(x):
  return x*x

n1 = [1,2,3,5,6,68,8,8]
squared_elements = map(sq,n1)

for i in squared_elements:
  print(i)

1
4
9
25
36
4624
64
64

## Filter the numbers divisible by 3 from a tuple using lambda function

In [ ]:
tup = (1,3,5,6,7,8,9,23,55,6,67)

In [ ]:
a = list(filter((lambda x:x%3 == 0 ),tup)) # on filter we can create any type of object that we want 
for i in a:
  print(i)

3
6
9
6

##Create a dataframe from a dictionary

In [ ]:
a = { 'a':[1,2,3] , 'b' : [2,1,0]}
import pandas as pd

a1 = pd.DataFrame(a) #here column a should have more than 1 value in the values of dict. As dataframe cannot take scalar value. You can try it and can see the error
a1

   a  b
0  1  2
1  2  1
2  3  0

## Difference betn iloc() and loc()

In [ ]:
# iloc = index location 
a = { 'a':[1,2,3,6,7,8] , 'b' : [2,1,0,5,6,7],'c' : [2,1,0,5,6,7]}
import pandas as pd

a1 = pd.DataFrame(a) #here column a should have more than 1 value in the values of dict. As dataframe cannot take scalar value. You can try it and can see the error
a1

   a  b  c
0  1  2  2
1  2  1  1
2  3  0  0
3  6  5  5
4  7  6  6
5  8  7  7

In [ ]:
a1.loc[:5,['a']] # if we see, 5 the element in the row in not exclueded. For the iloc()

   a
0  1
1  2
2  3
3  6
4  7
5  8

In [ ]:
a1.iloc[:5,:3] # this wont work with the loc()

   a  b  c
0  1  2  2
1  2  1  1
2  3  0  0
3  6  5  5
4  7  6  6

In [ ]:
a1.loc[a1['a']>3,['b','c']]# Whenever we use the Column names for any conditions just dont use the iloc(. Use it only when we are using the indexes)

   b  c
3  5  5
4  6  6
5  7  7

In [ ]:
# Lets use iloc AND TRY THAT OUT
a1.iloc[(a1['a']>3).values,1:3]

   b  c
3  5  5
4  6  6
5  7  7

##Difference between list.append() and list.extend()

In [ ]:
l1 = ['In' , 'out']

l1.append([1,2]) # to add one element to the list 
print(l1)
l1.extend([1,2]) # to extend the list. Basically, concat two list 
print(l1)

['In', 'out', [1, 2]]
['In', 'out', [1, 2], 1, 2]

##Create categories for the values greater than 3 in column a for dataframe a1. High for values above 3 and low for values below 3

In [ ]:
# IF ELSE LIST COMPREHENSION = [output if condition else output for l in list]
a1['category'] = ["HIGH" if x >3 else "LOW" for x in a1['a'] ]
a1

   a  b  c category
0  1  2  2      LOW
1  2  1  1      LOW
2  3  0  0      LOW
3  6  5  5     HIGH
4  7  6  6     HIGH
5  8  7  7     HIGH

In [ ]:
# uSING LAMBDA FUNCTION FOR THE SAME . 
FUNCTION = lambda x: "HIGH" if x>3 else "LOW"
a1['c1']= a1.a.apply(FUNCTION)
a1

   a  b  c category    c1
0  1  2  2      LOW   LOW
1  2  1  1      LOW   LOW
2  3  0  0      LOW   LOW
3  6  5  5     HIGH  HIGH
4  7  6  6     HIGH  HIGH
5  8  7  7     HIGH  HIGH